<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @task.name %>
</p>

<p>
  <b>Done:</b>
  <%= @task.done %>
</p>
<br>
<p>testing</p>
<b>t</b>
<br>
<b>e</b>
<br>
<b>s</b>
<br>
<b>t</b>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
